body {
    font-family: sans-serif;
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 320px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    width: 100%;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

p{
    text-align: center;
    color: red;
}

a{
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
}